.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(60deg, fade-out($black, 0.7) 0%, fade-out($black, 0.3) 100%), url('../img/page-top.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    color: white;
    font-weight: 200;
    font-family: "Source Sans Pro","Palatino Linotype","Book Antiqua",Palatino,Arial,Helvetica,serif;
  }
  h3 {
    color: white;
    font-weight: 200;
    font-family: "Source Sans Pro","Palatino Linotype","Book Antiqua",Palatino,Arial,Helvetica,serif;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}
